body {
    margin: 0;
    position: relative;
}

.top-bar {
    background-color: #E6E6E6;
    width: 100%;
    height: 142px;
    margin-bottom: 9px;
}

.logo {
    height: 40px;
    background-color: #3FA9F5;
}

.logo-img{
    height: 30px;
    float: left;
    margin: 3px;
    margin-left: 20px;
}

.title{
    margin-top: 10px;
}

.title a{
    margin-left: 20px;
}

.header img{
    width: 40px;
    float: left;
    margin-left: 40px;
    margin-right: 20px;
}

.main-content{
    width: 100%;
    height: calc(100vh - 151px);
}

.menu{
    width: 330px;
    margin-left: 10px;
    background-color: #e6e6e6;
    height: 100%;
    float: left;
}

.content{
    float: left;
    margin-left: 20px;
}