body {
    margin: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
    width: 100%;
    height: 40px;
    background-color: #3fa9f5;
    position: relative;
}

    .top-bar .menu-icon {
        width: 20px;
        margin: 10px 30px 10px 20px;
        float: left;
    }

    .top-bar .logo-img {
        height: 35px;
        margin: 3px 0px 0px 10px;
        float: left;
    }

    .top-bar h1 {
        font-size: 20px;
        color: #fff;
        display: block;
        float: left;
        margin: 0;
        padding: 10px 0 0 20px;
    }

.menu-content {
    width: 250px;
    height: calc(100% - 30px);
    background-color: #fff;
    margin: 15px 15px 15px 15px;
    float: left;
}

.menu-list {
    margin: 0 15px 10px 15px;
    padding-top: 1px;
}

    .menu-list ul {
        margin: 0;
        padding: 0;
    }

        .menu-list ul li {
            list-style: none;
            padding: 17px 0px 15px 10px;
            border-bottom: 1px solid #3fa9f5;
        }

            .menu-list ul li a {
                text-decoration: none;
                color: #000;
            }

            .menu-list ul li:hover {
                background-color: #3fa9f5;
                color: #fff;
            }

            .menu-list ul li:active {
                background-color: #0078d4;
                color: #fff;
            }

.search-bar {
    height: 40px;
    border-bottom: 1px solid #808080;
    margin-top: 20px;
    padding-bottom: 5px;
}

    .search-bar input {
        width: 145px;
        height: 20px;
        margin-right: 5px;
        margin-left: 10px;
        float: left;
        border-color: #3fa9f5;
    }

    .search-bar button {
        margin-top: 1px;
        background-color: #3fa9f5;
        border: none;
        color: #fff;
        padding: 5px 5px 5px 5px;
    }

.main-content {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #d9d9d9;
    position: absolute;
    clear: left;
}

.data-content {
    width: calc(100% - 295px);
    height: calc(100% - 30px);
    margin: 15px 15px 15px 0;
    float: left;
}

.tools-bar {
    width: calc(100% - 5px);
    height: 40px;
    background-color: #fff;
    margin-bottom: 10px;
    padding-left: 5px;
}

    .tools-bar button {
        height: 30px;
        border: none;
        border-radius: unset;
        background-color: #fff;
        margin-top: 5px;
        color: #0078d4;
        font-family: 'Times New Roman';
        font-size: 1.1em;
    }

        .tools-bar button:hover {
            background-color: #3fa9f5;
            color: #fff;
        }

.data-grid {
    width: 100%;
    height: calc(100% - 50px - 30px - 110px);
    background-color: #fff;
    overflow-y: scroll;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

    .data-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0078d4;
        color: white;
    }

    .data-table th, td {
        border: 1px solid #d9d9d9;
        padding: 8px;
    }

    .data-table tr:hover {
        background-color: #3fa9f5;
    }

.data-control {
    width: 100%;
    height: 105px;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 25px;
}

.he-1 {
    width: 120px;
    padding-left: 40px;
    text-align: right;
    float: left;
}

.he-2{
    width: calc(100% - 165px);
    height: 84px;
    float: left;
    padding-top: 10px;
    padding-left: 5px;
}

.sum {
    height: 30px;
    width: calc(100% - 50px);
    background-color: #3fa9f5;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.ng {
    height: 30px;
    width: calc(50% - 50px);
    background-color: #808080;
    margin-top: 5px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.detail-form {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    display: none;
}

.cover-background {
    width: 100%;
    height: 100%;
    background-color: #808080;
    opacity: 0.4;
}

.form {
    position: absolute;
    width: 600px;
    height: 600px;;
    background-color: #fff;
    top: calc(50vh - 300px);
    left: calc(50% - 300px);
}

.title-form {
    width: calc(100% - 8px);
    height: 25px;
    background-color: #0078d4;
    line-height: 25px;
    padding-left: 8px;
    color: #fff;
}

    .title-form button {
        width: 22px;
        height: 22px;
        background-color: #0078d4;
        color: #fff;
        border-color: #fff;
        border-radius: 50%;
        padding: 0;
        float: right;
        margin-top: 1px;
        margin-right: 5px;
    }

.form-content {
    width: 100%;
    height: calc(100% - 45px);
    margin-top: 20px;
    text-align: center;
}

.form-content label{
    font-size: 18px;
}

.info-area{
    width: 90%;
    height: 35%;
    margin-top: 10px;
    margin-left: calc(5% - 10px);
    background-color: #e4e4e4;
    padding: 10px;
}

.col-1{
    text-align: left;
    float: left;
}

.col-1 ul li{
    padding-top: 8px;
}

.col-2 {
    text-align: left;
    float: left;
}

.col-2 ul li {
    padding-top: 8px;
}

.treatment{
    margin-top: 10px;
    margin-left: 5%;
    text-align: left;
}

.case {
    width: 60%;
    border-color: #3fa9f5;
    margin-top: 8px;
}

#bb{
    margin-left: 64%;
}

.quanti {
    width: 20%;
    margin-left: 10%;
    text-align: right;
    border-color: #3fa9f5;
    margin-top: 8px;
}

#ad{
    width: 30px;
    height: 30px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;

}

.button-area{
    float: right;
    margin-right: 6%;
    margin-top: 10px;
}

#save, .close, #ad{
    background-color: #3fa9f5;
    border: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
}

.row-selected {
    background-color: #dd3333;
    color: #fff;
}
